---
# Source: springcontainerms/templates/deployment.yaml
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: "springcontainerms-deployment"
  labels:
    chart: 'springcontainerms-1.0.0'
spec:
  replicas: 1
  revisionHistoryLimit: 1
  template:
    metadata:
      labels:
        app: "springcontainerms-selector"
        version: "current"
    spec:
      serviceAccountName: kcontainer-runtime
      containers:
      - name: "springcontainerms"
        image: "ibmcase/kcontainer-spring-container-ms:latest"
        imagePullPolicy: Always
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 20
        resources:
          requests:
            cpu: "200m"
            memory: "300Mi"
        env:
          - name: PORT
            value: "8080"
          - name: APPLICATION_NAME
            value: "springcontainerms"
          #- name: JKS_LOCATION
          #  value: "$JAVA_HOME/jre/lib/security/cacerts"
          - name: KAFKA_BROKERS
            valueFrom:
              configMapKeyRef:
                name: "demo-kafka-brokers"
                key: brokers
          - name: KCSOLUTION_CONTAINERS
            value: "containers"
          - name: KCSOLUTION_ORDERS
            value: "orders"
          - name: KCSOLUTION_REJECTED_ORDERS
            value: "rejected-orders"
          - name: KCSOLUTION_ALLOCATED_ORDERS
            value: "allocated-orders"
          - name: KAFKA_APIKEY
            valueFrom:
              secretKeyRef:
                name: "demo-es-apikey"
                key: binding
          - name: POSTGRESQL_URL
            valueFrom:
              secretKeyRef:
                name: "postgresql-url"
                key: binding
          - name: POSTGRESQL_USER
            valueFrom:
              secretKeyRef:
                name: "postgresql-user"
                key: binding
          - name: POSTGRESQL_PWD
            valueFrom:
              secretKeyRef:
                name: "postgresql-pwd"
                key: binding
